<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galaxy.framework.sagittarius.mapper.ContractFeeMapper">
  <resultMap id="BaseResultMap" type="com.galaxy.framework.sagittarius.entity.ContractFee">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="payment" jdbcType="DECIMAL" property="payment" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="version" jdbcType="TINYINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, contract_code, name, amount, payment, discount, status, creator, created, 
    modifier, modified, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from operation_contract_fee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from operation_contract_fee
    where code = #{code}
  </select>
  <select id="selectByContractCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from operation_contract_fee
    where contract_code = #{contractCode}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from operation_contract_fee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.galaxy.framework.sagittarius.entity.ContractFee">
    insert into operation_contract_fee (id, code, contract_code,
      name, amount, payment, 
      discount, status, creator, 
      created, modifier, modified, 
      version)
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, #{contractCode,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{payment,jdbcType=DECIMAL}, 
      #{discount,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{modifier,jdbcType=VARCHAR}, #{modified,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.galaxy.framework.sagittarius.entity.ContractFee">
    insert into operation_contract_fee
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="contractCode != null">
        contract_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="payment != null">
        payment,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modified != null">
        modified,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null">
        #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modified != null">
        #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.galaxy.framework.sagittarius.entity.ContractFee">
    update operation_contract_fee
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="contractCode != null">
        contract_code = #{contractCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="payment != null">
        payment = #{payment,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modified != null">
        modified = #{modified,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.galaxy.framework.sagittarius.entity.ContractFee">
    update operation_contract_fee
    set code = #{code,jdbcType=VARCHAR},
      contract_code = #{contractCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      payment = #{payment,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      status = #{status,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>